<div class="row px-3">
  <div class="col-auto">
    <h2>Let's talk about some beers, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 px-3">
  <div class="col-md-6">
    <h3>Create a New Beer Review:</h3>

    <form class="form newPostForm">
      <div class="form-group">
        <label for="reviewTitle">Title:</label>
        <input
          class="form-input"
          type="text"
          id="reviewTitle"
          name="reviewTitle"
        />
      </div>
      <div class="form-group">
        <label for="reviewDescription">Description:</label>
        <input
          class="form-input"
          type="text"
          id="reviewDescription"
          name="reviewDescription"
        />
      </div>
      <div class="form-group">
        <label for="reviewContent">Review:</label>
        <textarea
          class="form-input"
          id="reviewContent"
          name="reviewContent"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Review!</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
    <div class="col-md-6 project-list">
      <h3>Current Reviews:</h3>

      {{#each posts as |post|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
          </div>
          <div class="row mb-2">
            <div class="col-2 editButton">
              <a href="/edit/{{post.id}}">
                <button class="btn btn-sm btn-warning" dataId="{{post.id}}">
                  Edit Review
                </button>
              </a>
            </div>
            <div class="col-md-4 deleteButton">
              <button class="btn btn-sm btn-danger" data_id="{{post.id}}">
                Delete Review
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>