<header class="jumbotron">
  <div class="container d=flex justify-content-center align-items-center">
    <div class="text-center">
      <h1 class="heading mt-3">
        Beer Blog
      </h1>
      <p class="subheading">
        Let's talk about beer!
      </p>
    </div>
  </div>
</header>

<div class="container mt-4 d-flex justify-content-center">
  {{#if posts}}
    <div class="row mb-4 blog">
      {{#each posts as |post|}}
        <div class="col-md-6 post mx-auto">
          <a class="nav-link post-item" href="/post/{{post.id}}">
            <h2 class="post-title text-dark">
              {{post.title}}
            </h2>
            <h4 class="post-subtitle text-dark">
              {{post.description}}
            </h4>
          </a>
          <p class="post-meta">
            Posted by
            <span>
              {{post.user.name}}
            </span>
            on
            <span>
              {{formatDate post.dateCreated}}
            </span>
          </p>
        </div>

        <hr class="my-3" />
      {{/each}}
    </div>
  {{else}}
    <h1>THERE ARE NO POSTS YET TO SHOW!</h1>
  {{/if}}
</div>