<header>
  <div
    class="container justify-content-center align-items-center d-flex postTitle"
  >
    <h1> {{title}} </h1>
  </div>
</header>

<div class="container justify-content-center d-flex">
  <div class="blog col-md-6">
    <div class="row">
      <p class="postContent">
        {{content}}
      </p>
      <p class="postUserDate">
        Post created by
        <span class="userName">{{user.name}}</span>
        on
        <span class="dateCreated">{{formatDate dateCreated}}</span>
      </p>
    </div>
    <hr class="my-3" />
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="comments col-md-6">
        <h2>Comments:</h2>
        <hr class="my-3" />
        {{#each comments as |comment|}}
          <div class="commentSection">
            <p>
              {{comment.comment}}
            </p>
            <p class="postUserDate">
              Comment posted by
              <span class="userName">{{comment.user.name}}</span>
              on
              <span class="dateCreated">{{formatDate dateCreated}}</span>
            </p>
            <hr class="my-3" />
          </div>
        {{/each}}
        {{#if logged_in}}
          <form class="form newCommentForm" data_id="{{id}}">
            <div class="'form-group row">
              <label for="commentText">Leave your comment here:</label>
              <textarea
                class="form-input"
                id="commentContent"
                name="commentContent"
              ></textarea>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">
                Submit Comment!
              </button>
            </div>
          </form>
        {{/if}}
      </div>
    </div>

  </div>
</div>

<script src="/js/comments.js"></script>